{% extends 'base.html' %}


{% block body %}
    <!-- about -->
    <div class="about">
        <div class="container">
            <h3 class="w3_agile_header">About Us</h3>
            <div class="about-agileinfo w3layouts">
                <div class="col-md-8 about-wthree-grids grid-top">
                    <h4>Working Motto </h4>
                    <p class="top">We serve you with the best offer products ongoing into the market</p>
                    <p>One of the reasons people cite most often for shopping online is that they can review and compare
                        dozens of stores and products at once.. They search for reviews of your products. They
                        compare price, quality and customer service — and they can do it all online
                        the market.Engage consumers and influence purchase decisions both online and in stores using
                        strategic promotions, deals and discounts </p>

                </div>
                <div class="col-md-4 about-wthree-grids">
                    <div class="offic-time">
                        <div class="time-top">
                            <h4>Offer-Market</h4>
                        </div>
                        <div class="time-bottom">
                            <h5>Namaste</h5>

                            <p>We are a startup company based on Kathmandu syncing all the product offers across the
                                ecommerce market at your finger </p>
                        </div>
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //about -->
    <!-- about-slid -->
    <div class="about-slid agileits-w3layouts">
        <div class="container">
            <div class="about-slid-info">
                <h2 style="color: #fe9126">Whoever said that money cant buy happiness simply didnt know where to go
                    shopping</h2>
                <p></p>
            </div>
        </div>
    </div>
    <!-- //about-slid -->
    <!-- about-team -->
    <div class="about-team">
        <div class="container">
            <h3 class="w3_agile_header">Meet Our Team</h3>
            <div class="team-agileitsinfo" style="height: 250px">
                <div class=" col-md-3 about-team-grids">
                    <img src="/static/supermarket/images/bhuwan.jpg" style="height:230px; width:250px" alt=""/>
                    <div class="team-w3lstext">
                        <h4>Bhuwan Bhatt</h4>
                        <p>Junior Web Developer</p>
                    </div>
                    <div class="social-icons caption">
                        <ul>
                            <li><a href="#" class="fa fa-facebook facebook"> </a></li>
                            <li><a href="#" class="fa fa-twitter twitter"> </a></li>
                            <li><a href="#" class="fa fa-google-plus googleplus"> </a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class=" col-md-3 about-team-grids">
                    <img src="/static/supermarket/images/ajay.jpg" style="height:230px; width:250px" alt=""/>
                    <div class="team-w3lstext">
                        <h4>Ajay Giri</h4>
                        <p>Junior Web Developer</p>
                    </div>
                    <div class="social-icons caption">
                        <ul>
                            <li><a href="#" class="fa fa-facebook facebook"> </a></li>
                            <li><a href="#" class="fa fa-twitter twitter"> </a></li>
                            <li><a href="#" class="fa fa-google-plus googleplus"> </a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class=" col-md-3 about-team-grids">
                    <img src="/static/supermarket/images/datanje.jpg" style="height:230px; width:250px" alt=""/>
                    <div class="team-w3lstext">
                        <h4>Datenji Sherpa</h4>
                        <p>Junior Web Developer</p>
                    </div>
                    <div class="social-icons caption">
                        <ul>
                            <li><a href="#" class="fa fa-facebook facebook"> </a></li>
                            <li><a href="#" class="fa fa-twitter twitter"> </a></li>
                            <li><a href="#" class="fa fa-google-plus googleplus"> </a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class=" col-md-3 about-team-grids">
                    <img src="/static/supermarket/images/dipak.jpg" style="height:230px; width:250px" alt=""/>
                    <div class="team-w3lstext">
                        <h4>Dipak Bist</h4>
                        <p>Junior Web Developer</p>
                    </div>
                    <div class="social-icons caption">
                        <ul>
                            <li><a href="#" class="fa fa-facebook facebook"> </a></li>
                            <li><a href="#" class="fa fa-twitter twitter"> </a></li>
                            <li><a href="#" class="fa fa-google-plus googleplus"> </a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>


                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //about-team -->
{% endblock body %}
